.dropdown {
  position: relative;
}


.dropdown-color  {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.dropdown-color li > a {
  transition: color 0.3s ease;
  // font-weight: lighter !important;
  color: grey;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}

.dropdown-color li > a:hover {
  color: black !important;

}

.dropdown-color:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
