.center {
  margin: auto;
  width: 50%;
  padding: 20px;
}

 .buttons {
  font-size: 18px;
  margin-top: -22px;
  position: absolute;
}

.normal-button {
  font-size:18px;
  line-height: 2.1;
  align-content: center;
  cursor:pointer;
  width: 35px !important;
  height: 35px;
  border: none;
  padding: 4px 8px;


}

.go-button {
  font-size: 20px;
  cursor:pointer;
 width: 55px !important;
  height: 55px !important;
  align-content: center;
  border: none;

}

.timeline {
}

.timeline__container {
  border-left: 3px solid $gray-lighter;
  padding-left: 0;
  position: relative;
  h4 {
    margin: 0;
    text-transform: uppercase;
    color: $gray-light;
  }
}

.timeline__start {
  position: absolute;
  top: -12.5px;
  left: 60px;
}

.timeline__start-line {
  width: 50px;
  border-top: 3px solid $gray-lighter;
}

.timeline__end {
position: absolute;
  bottom: -12.5px;
  left: 60px;
}

.timeline__end-line {
  width: 50px;
  border-bottom: 3px solid $gray-lighter;
}

.timeline__item {
  display: flex;
  margin-top: 25px;
}

.timeline-item__line {
  width: 100px;
  height: 100px;
  border-bottom: 3px solid $gray-lighter;
  position: relative;
}

.timeline-item__line--circle {
  position: absolute;
  bottom: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: rgb(223, 88, 199);
  border-radius: 50%;
}

.timeline-item__details {
  flex: 1 0;
  box-shadow: 2px 2px 1px $gray-lighter;
  margin-bottom: 35px;
}

.timeline-item__image {
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
}

.timeline-item__legend {
  background-color: white;
  padding: 10px;
  font-size: 12px;
  max-width: 100%;
  p {
    margin: 0;
  }
}

h4  {
  color: $gray-lighter;
}
