

<div class="window">
  <div class="overlay"></div>
  <div class="box header2">
    <%= image_tag "maura.jpg", class: "profile-avatar" %>
    <br>
    <h2><strong><%= current_user.first_name + " " + current_user.last_name %></strong></h2>
  </div>
  <div class="box footer">
    <ul>
      <!-- <li><a href=""><span class="ion-ios-camera-outline"></span> 401</a></li> -->
      <!-- <li><a href=""><span class="ion-ios-heart-outline"></span> 333K</a></li> -->
      <li><a href=""><span class="ion-ios-person-outline"></span> 225M</a></li>
    </ul>
    <a href="" class="btn">Follow</a>
  </div>
</div>

