<div class="window">
  <div class="overlay"></div>
  <div class="box header-profile">
    <%= image_tag "image.png", class: "profile-avatar" %>
    <br>
    <h2><strong><%= current_user.first_name + " " + current_user.last_name %></strong></h2>
  </div>


  <div class="box profile-footer">
    <div class="message">
      <div class="message-name">
        <i class="fas fa-heart" style="color: white; font-size: 32px;"></i>
      </div>
      <div class="message-body">
        <h6><strong>Favorite Walks</strong></h6>
        <ul>
          <%= @walk.each do |walk|  %>
          <li><%= walk.current_user.likes  %></li>
        </ul>
      </div>
    </div>

  <div class="message"
    <div class="message-name">
      <i class="fas fa-plus-circle" style="color: white; font-size: 32px;"></i>
    </div>
    <div class="message-body">
      <h6><strong>I am not sure yet!</strong></h6>
      <p>
        I am not sure yet! I might be in Shanghai at this moment... Can I tell you later?
      </p>
    </div>
  </div>
   <div class="message">
      <div class="message-name">
        <i class="fas fa-street-view" style="color: white; font-size: 32px;"></i>
      </div>
      <div class="message-body">
        <h6><strong>I am not sure yet!</strong></h6>
        <p>
          I am not sure yet! I might be in Shanghai at this moment... Can I tell you later?
        </p>
      </div>
    </div>
    <div class="social">
      <td><a href="#" class="badge badge-pill badge-light"><i class=""></i> follow </a></td>
      <td>
    </div>
</div>

