<div id="landing-header">
    <h1><strong>Walkie</strong></h1>
    <h3><strong>Discover your city.</strong></h3>
     <br>
  <br>
  <br>
  <br>

<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <% Category.all.each do |category| %>
    <%= link_to category.name , category_path(category) %>
    <% end %>
  </div>
</div>


<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

<script>
function openNav() {
    document.getElementById("myNav").style.width = "100%";
}

function closeNav() {
    document.getElementById("myNav").style.width = "0%";
}
</script>

  <br>
  <br>
  <br>
  <br>
</div>
<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
<br>
<br>
<center><h4><strong>Popular Walks in Lisbon</strong></h4><center>
<br>
<%= render  @walks %>

