<div id="landing-header">
    <h1><strong>Walkie</strong></h1>
    <h3><strong>Discover your city.</strong></h3>
     <br>
    <br>
    <br>

<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <h3><strong>Choose from </strong></h3>
    ▿
  <% Category.all.each do |category| %>
    <%= link_to category.name , category_path(category) %>
    <% end %>
  </div>
</div>

<button type="button" class="btn btn-default btn-xs get-started" span style="font-size:19px;cursor:pointer" onclick="openNav()">Go On</span></button>

<script>
function openNav() {
    document.getElementById("myNav").style.width = "100%";
    document.getElementById("body").style.height = "100vh"
    document.getElementById("body").style.overflow = "hidden"
}

function closeNav() {
    document.getElementById("myNav").style.width = "0%";
    document.getElementById("body").style.height = "auto"
    document.getElementById("body").style.overflow = "visible"
}
</script>

  <br>
  <br>
  <br>
  <br>
</div>
<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
<br>
<br>
<h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<strong>Popular Walks in Lisbon</strong>
  <br>
<br>
<%= render  @walks %>

