<div id="landing-header">
    <h1>Walkie</h1>
    <h3><strong><u>Your</u> tailored city walk.</strong></h3>

  <br>
  <br>
  <br>
  <br>
</div>
<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h3><strong>Popular Walks</strong></h3>
<%= render  @walks %>
