.card-margin {
  padding: 5px;
}

.card-wrapper {
  &:hover, &:active, &:focus {
    outline: none;
  }
}


.cards-container {
  height: 330px;
  background-size: cover !important;
  background-color: white;
  background-position: center;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  justify-content: space-around;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  padding: 0 0 20px 0;
  max-width: 100vw;
}

.card-link {
  color: #545454;;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  width: 100% !important;
  cursor: pointer !important;
  z-index: 10;
  background: black;
  opacity: 0;
  &:hover, &:active, &:focus {
    text-decoration: none;
    color: #545454;;
    outline: none;
  }
}

.card-details {
  margin-top: 10px;
}

.card-walk {
  font-weight: bold;
}

.card-name {
  font-weight: bold;
}

.card-location {
  font-weight: lighter;
}

.card-rating-reviews {
  font-size: 15px;
}

.card-average-rating {
  color: #F9690E;
}

.wishlist-rounded svg {
  stroke: white !important;
}

@media (max-width: 1023px) {
  .card-average-rating {
    color: #545454;;
  }

}

.card-image {
  position: relative;
  height: 72%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  &:hover, &:active, &:focus {
    outline: none;
  }
}

.card-row {
  padding: 0px 10px;
  margin-top: 5px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  position:relative;
  z-index:2;
}


// Wishlist Badge CSS
.wishlist-rounded {
  width: 44px;
  height: 44px;
  padding: 13px;
  border-radius: 50%;
  position: absolute;
  bottom: -20px;
  right: 10px;
}

.wishlist-rounded-border {
  width: 44px;
  height: 44px;
  padding: 10px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid white;
}

.wishlist-rounded-white {
  background: #d17bc9;
}

.wishlist-header {
  position: relative;
  float: left;
}

.wishlist-icon {
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
  z-index: 20;
  position: relative;
  cursor: pointer;
  &:hover, &:active, &:focus {
    outline: none !important;
  }
}

.wishlist-icon.empty {
  fill: none;
  color: white;
  stroke: #484848;
  &:hover {
    fill: #f0787c;
    stroke: #f0787c;
  }
}


// buttons css

.btn-circle {
  width: 44px !important;
  height: 44px;
  font-size: 12px;
  line-height: 2.1;
  border-radius: 50%;
  display: inline-block;
  color: white;
  margin: 0px 20px 0px 20px;
  justify-content: center !important;
}

.go-rounded-border {
  width: 44px;
  height: 44px;
  padding: 10px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #fff;
}

.go-rounded-white {
  background: #d17bc9;
}
