body {
  background-color: #F9F9F9;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
  color: white;
}


#landing-header h1 {
  color: #fff;
}

.slideshow {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url(http://res.cloudinary.com/geebabygee/image/upload/v1520334116/david-marcu-158231-unsplash.jpg);

}
.slideshow li:nth-child(2) {
 background-image:  linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ), url(http://res.cloudinary.com/geebabygee/image/upload/v1520458099/matthew-brodeur-6439-unsplash.jpg);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image:  linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url(http://res.cloudinary.com/geebabygee/image/upload/v1520335688/samuel-zeller-144543-unsplash.jpg);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(   http://res.cloudinary.com/geebabygee/image/upload/v1520458104/mag-pole-102167-unsplash.jpg );
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image:     linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),url(http://res.cloudinary.com/geebabygee/image/upload/v1520335852/jason-briscoe-104295-unsplash.jpg);
  animation-delay: 40s;
}


@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

