.profile-background{
  background: white;
  max-width: 1000px;
  // border: 1px solid #d6d4d4;
  margin-bottom: 70px;
}

.avatar-colum{
  border-right-width: 10px;

}

.profile-avatar{
  width: 100%;
  border-radius: 15%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  position: relative;
  top: 14px;
  right:4px;

}

.title-separator{
  margin-top: -6px;
  margin-left: -15px;
}


// .venue_form{
//     max-width: 600px;
//     padding: 10px 20px;
//     border: 0.5px solid #ada9a9;
//     margin: 60px auto 30px auto;
//     padding: 30px 20px;
//     background: white;
//     border-radius: 3px;
// }

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: rgba(0, 0, 0, .65);
}

a:hover {
  color: rgba(0, 0, 0, .45);
}

.window,
.box,
ul,
li {
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

ul {
  font-family: 'Fjalla One', sans-serif;
  list-style-type: none;
  text-transform: uppercase;
}

li {
  display: inline-block;
}

img {
  display: block;
  width: 100%;
}


.btn:hover {
  background: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.15);
}

.overlay {
  background: #d17bc9;
  background-size: cover;
  height: calc(100% + 40px);
  margin: -10px;
  position: relative;
  width: calc(100% + 40px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
}

.window {
  box-shadow: #d17bc9;
  height: 100vh;
  width: 100vw;
}

.header2 {
  background: url(abstractbackground.jpg) center no-repeat;
  color: #FFF;
  height: 380px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: inherit;
}

.header2:before {
  border: 2px solid #f3a6fc;
  border-radius: 100%;
  content: "";
  height: 130px;
  left: -8px;
  margin: 67px auto;
  padding: 0;
  position: absolute;
  right: 0;
  top: -8px;
  width: 130px;
  z-index: 2;
  -webkit-transform: scale(1.24, 1.24);
  -moz-transform: scale(1.24, 1.24);
  transform: scale(1.24, 1.24);
}

.header2 img {
  border: 5px solid #f5b5fc;
  border-radius: 100%;
  height: 140px;
  margin: 4em auto 2.5em;
  object-fit: cover;
  width: 140px;
}

.header2 h2 {
  color: #352f2f !important;
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -2px;
  margin: 0 auto;
  padding: 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.header2 h4 {
  color: rgba(255, 255, 255, 0.75);
  display: block;
  font-size: 15px;
  margin: 0 auto;
  padding: 5px 0 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
}

.footer {
  background: #39394E;
  bottom: 0;
  color: #706969;
  left: 0;
  position: absolute;
  text-align: center;
  top: 380px;
  width: inherit;
}

.footer ul {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  padding: 20px 20px;
}

.footer li:first-child {
  border: 0;
}

.footer li {
  border-left: 2px solid rgba(255, 255, 255, .15);
  font-family: 'Quicksand', sans-serif;
  padding: 0 4px 0 6px;
  width: 100%;
}

.footer a span {
  color: #9CDFF5;
  display: inline-block;
  font-size: 26px;
  padding: 0 4px 0 0;
  vertical-align: middle;
}
