.profile-background{
  background: white;
  max-width: 1000px;
  margin-bottom: 70px;
}

.avatar-colum{
  border-right-width: 10px;
}

.profile-avatar{
  width: 100%;
  border-radius: 15%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  position: relative;
}

.title-separator{
  margin-top: -6px;
  margin-left: -15px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: rgba(0, 0, 0, .65);
}

a:hover {
  color: rgba(0, 0, 0, .45);
}

.window,
.box,
ul,
li {
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.window {
  box-shadow: #d17bc9;
  height: 150vh;
  width: 100vw;
}

.header-profile {
  // background: url(abstractbackground.jpg) center no-repeat;
  color: #FFF;
  height: 285px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: inherit;
}

.header-profile:before {
  border: 2px solid #f3a6fc;
  border-radius: 100%;
  content: "";
  height: 130px;
  left: -6px;
  margin: 67px auto;
  padding: 0;
  position: absolute;
  right: 0;
  top: 10px;
  width: 130px;
  z-index: 2;
  -webkit-transform: scale(1.24, 1.24);
  -moz-transform: scale(1.24, 1.24);
  transform: scale(1.24, 1.24);
}

.header-profile img {
  border: 5px solid #f5b5fc;
  border-radius: 100%;
  height: 140px;
  margin: 4em auto 1.5em;
  object-fit: cover;
  width: 140px;
}

.header-profile h2 {
  color: #352f2f !important;
  display: inline-block;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -2px;
  margin: 0 auto;
  padding: 0 0 0 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.header-profile h4 {
  color: rgba(255, 255, 255, 0.75);
  display: block;
  font-size: 15px;
  margin: 0 auto;
  padding: 5px 0 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
}

.profile-footer {
  background: #39394E;
  bottom: 0;
  color: #706969;
  left: 0;
  position: absolute;
  top: 285px;
  width: inherit;
}

.profile-footer ul {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  padding: 20px 20px;
}

.profile-footer li:first-child {
  border: 0;
}

.profile-footer li {
  border-left: 2px solid rgba(255, 255, 255, .15);
  padding: 0 4px 0 6px;
  width: 100%;
}

.profile-footer a span {
  color: #9CDFF5;
  display: inline-block;
  font-size: 26px;
  padding: 0 4px 0 0;
  vertical-align: middle;
}

.message-profile {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}
.message:last-child {
  border-bottom: none;
}
.message-body2 {
  flex-grow: 1;
}
.message-name2 {
  padding-left: 10px;
  min-width: 70px;
}
.message-name2 h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.message-name2 p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.message-body2 {
  padding-left: 10px;
  font-size: 13px;
  color: white;
}
.message-body2 {
  padding-left: 20px;
  color: white;
}
.message-body2 strong{
  color: white;
}
.message-body2 p {
  margin: 6px 0;
}
.message-status {
  font-size: 14px;
  font-weight: bold;
}
.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: lightgrey;
}
