

.walk_form {
    max-width: 600px;
    padding: 10px 20px;
    border: 0.5px solid #ada9a9;
    margin: 0px auto 47px auto;
    padding: 30px 20px;
    background: white;
    border-radius: 3px;
    position: top;
    position: relative;
  }

// remove asterisk from form
abbr[title="required"] {
  display: none;
}


.form_title {
  color: white;
  max-width: 100%;
  border: 0.5px solid #ada9a9;
  margin: 0px auto 0px auto;
  padding: 7px 20px;
  background: $pink;
  position: relative;

}

.upload-title{
      margin-top: 19px;
      margin-bottom: 29px;
  }

.btn-block {
  display: block;
  width: 100%;
  border-radius: 25px;
  background-color: $pink;
  border-color: $pink;
}


.form-control:focus {
    border-color: $pink;
    outline: 0;
    box-shadow: inset 0 1px 1px $pink, 0 0 8px $pink;
    border-color: $pink;
}


