

.walk_form {
    max-width: 600px;
    padding: 10px 20px;
    border: 0.5px solid #ada9a9;
    margin: 60px auto 30px auto;
    padding: 30px 20px;
    background: white;
    border-radius: 3px;
    position: top;
    position: relative;
    top: -166px;

  }

// remove asterisk from form
abbr[title="required"] {
  display: none;
}


.form_title {
  color: white;
  max-width: 100%;
  /* padding: 10px 20px; ;*/
  border: 0.5px solid #ada9a9;
  margin: 60px auto 30px auto;
  padding: 7px 20px;
  background: rgb(220, 78, 200);
  border-radius: 9px;
  position: relative;
  top: -93px;
}

.upload-title{
      margin-top: 19px;
      margin-bottom: 29px;
  }






